.l-controls.l-controls--stepper
    ul.m-stepper
        li.m-stepper__item.is-active 
            a(href="#home" data-scroll) #[strong home]
        li.m-stepper__item
            a(href="#knowledge" data-scroll) #[strong co umíme]
        li.m-stepper__item
            a(href="#work" data-scroll) #[strong naše dílna]
        li.m-stepper__item
            a(href="#contact" data-scroll) #[strong kontakt] 

.l-controls.l-controls--anchor
    a(href="#knowledge" data-scroll).m-anchor
        p.m-anchor__name co umíme
        img(src="/img/png/arrow.png", alt="arrow")

.bg-holder