header.l-header
    .container.container--small
        a(href="#")
            img(src="/img/png/logo-small.png", alt="looks digital logo")

        .l-header__nav
            nav.m-navigation.m-navigation--desktop
                ul.m-navigation__list
                    li.m-navigation__item.is-active
                        a(href="#home" data-scroll) home
                    li.m-navigation__item
                        a(href="#knowledge" data-scroll) co umíme
                    li.m-navigation__item
                        a(href="#work" data-scroll) naše dílna
                    li.m-navigation__item
                        a(href="#contact" data-scroll) kontakt
            a(href="#").l-header__lang.a-lang en