section(data-id="1" id="knowledge" class="section l-section l-section--knowledge l-knowledge")
    .container.container--small
        .l-knowledge__wrapper
            p.l-knowledge__description Jsme programátoři, grafici, kodéři, linux správci, projektoví manažeři, redaktoři a&nbsp;helpdesk. Všechno co děláme je z&nbsp;naší dílny. Jsme nároční a&nbsp;jsme psi na design a&nbsp;použitelnost.
            .l-knowledge__content
                .l-knowledge__col
                    article.m-article
                        img(src="/img/png/ico-mail.png", class="m-article__icon" alt="Mail")
                        h2.m-article__heading .mailing
                        p.m-article__description Více jak 8 let zkušeností. Poskytujeme profesionální mailing servis pro náročné. Provozujeme vlastní mailing službu mailero.io
                .l-knowledge__col
                    article.m-article
                        img(src="/img/png/ico-grind.png", class="m-article__icon" alt="Grind")
                        h2.m-article__heading .automatizace
                        p.m-article__description Automatizace je budoucnost. Služba která šetří čas a&nbsp;sama vydělává peníze. Od jednoduchých úkonů až po složité automatické operace. 24 hodin, 7 dní v&nbsp;týdnu.
                .l-knowledge__col
                    article.m-article
                        img(src="/img/png/ico-magni.png", class="m-article__icon" alt="Magnifier")
                        h2.m-article__heading .analytika
                        p.m-article__description Každá utracená koruna v reklamě musí být spočítána. základem pro automatizaci a&nbsp;business obecně jsou nutná data. Big&nbsp;data.
                .l-knowledge__col
                    article.m-article
                        img(src="/img/png/ico-network.png", class="m-article__icon" alt="network")
                        h2.m-article__heading .publishing
                        p.m-article__description Provozujeme síť webů s úzkou cílovou skupinou s&nbsp;měsíční návštěvností přes 1Mil&nbsp;UIP.                                                          