section(data-id="0" id="home" class="section l-section l-section--home l-home")
    .container.container--small
        h1.l-home__heading #[strong looks digital]
            img(src="/img/png/logo-full.png", alt="looks.digital logo" class="l-home__logo--full")
        p.l-home__desctiption #[strong 13 let zkušeností] věnujeme vlastním projektům. Se silným zaměřením na #[strong mailing], #[strong automatizaci], #[strong analytiku] a&nbsp;#[strong publishing], které spojujeme do komplexního digitálního řešení.