section(data-id="3" id="contact" class="section l-section l-section--contact l-contact")
    .container.container--small
        img(src="/img/png/logo-small.png", alt="looks digital logo").l-contact__logo
        a(href="tel:00420222266255" class="l-contact__tel") +420 222 266 255
        a(href="mailto:weare@looks.digital" class="l-contact__mail") weare@looks.digital
        a(href="https://www.google.cz/maps/place/Tova%C4%8Dovsk%C3%A9ho+92%2F2,+130+00+Praha+3-%C5%BDi%C5%BEkov/@50.0872239,14.459561,17z/data=!3m1!4b1!4m5!3m4!1s0x470b935fc3dcd5a1:0xb6cfea02a0efa314!8m2!3d50.0872239!4d14.4617497?hl=en&authuser=0" target="_blank" class="l-contact__map")
            img(src="/img/jpg/map.jpg", alt="looks digital map")    
        address.l-contact__address looks.digital s.r.o.<br/>Vojtěšská 211/6, 110 00 Praha 1<br/>IČ:   04234812  /  DIČ:  CZ04234812