section(data-id="2" id="work" class="section l-section l-section--work l-work")
    .container.container--small
        .l-work__wrapper
            .l-work__col
                a(href="#").m-work-box.m-work-box--blue
                    img(src="/img/png/img-01.png", alt="work")
            .l-work__col
                a(href="#").m-work-box.m-work-box--orange
                    img(src="/img/png/img-02.png", alt="work")
            .l-work__col
                a(href="#").m-work-box.m-work-box--green
                    img(src="/img/png/img-03.png", alt="work")
            .l-work__col
                a(href="#").m-work-box.m-work-box--red
                    img(src="/img/png/img-04.png", alt="work")
            .l-work__col
                a(href="#").m-work-box.m-work-box--grey
                    img(src="/img/png/img-05.png", alt="work")